<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.Source.S1_BDO.BDO"
        android:sharedUserId="user.castles">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION " />


    <application
        android:name=".BdoApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main.Activity_ctms_update" />
        <activity android:name=".Main.Activity_ctms_background" />
        <activity
            android:name=".Splash"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            >
        </activity>
        <activity
            android:name=".OrderCheck"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"></activity>
        <activity
            android:name=".PayChoose"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"></activity>
        <activity
            android:name=".PayCheck"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"></activity>
        <activity
            android:name=".HelloJni"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"></activity>
        <activity
            android:name=".PayApprove"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"></activity>
        <activity
            android:name=".Recipy"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"></activity>
        <activity
            android:name=".Recipy2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"></activity>
        <activity
            android:name=".ICcard"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"></activity>
        <activity
            android:name=".MSRcard"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"></activity>
        <activity
            android:name=".Load"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"></activity>
        <activity
            android:name=".Load2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"></activity>
        <activity
            android:name=".Trans.NETSprompt_amount"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"></activity>
        <activity
            android:name=".Trans.NETSprompt_refno"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"></activity>
        <activity
            android:name=".SocketActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"></activity>
        <activity
            android:name=".model.DispayText"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"></activity>
        <activity
            android:name=".Trans.GetAmount"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"></activity>
        <activity
            android:name=".db.AndroidDatabaseManager"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"></activity>
        <activity
            android:name=".db.ChooseFileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"></activity>
        <activity
            android:name=".db.DatabaseManager"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"></activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.EditDatabaseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            >

        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.model.UserInputString"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            >
        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.model.ConfirmMenu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.model.ConfirmMenu2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.model.ConfirmOKMenu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.model.ConfirmOKCancelMenu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            >
        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.model.DisplayCardIDLE"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="VisaMaster"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.Trans.UserConfirmCard"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.Trans.UserCancelUI"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.model.DOptionMenu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.model.DPopupMenuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="BDO"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.model.NormalKeyBoard"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.Main.MultiAP_SubAP"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:exported="true">
        </activity>
        <activity
            android:name=".Trans.AmountEntryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".Trans.AmountEntryWithMenu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:parentActivityName="com.Source.S1_BDO.BDO.Main.MainActivity">
        </activity>
		<activity android:name=".Trans.InputString" 
			android:theme="@style/FullscreenTheme" 
			android:label="@string/app_name" 
			android:configChanges="orientation|keyboardHidden|screenSize"> 
		</activity>
		<activity android:name=".Trans.InputAlpha" 
			android:theme="@style/FullscreenTheme" 
			android:label="@string/app_name" 
			android:configChanges="orientation|keyboardHidden|screenSize"> 
		</activity>
        <activity android:name=".Trans.S1InputString"
            android:theme="@style/FullscreenTheme"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.SignaturePad.SignaturePadCastles"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.Trans.CardEntry"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.Trans.GetCardDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:parentActivityName="com.Source.S1_BDO.BDO.Trans.GetCardOptionsActivity">
        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.Trans.GetCardOptionsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.model.PrintReceiptonScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.model.PrintFirstReceiptonScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/NoActionBar">
        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.model.EliteReceiptonScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
        android:name="com.Source.S1_BDO.BDO.Trans.BatchReview"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:label="@string/app_name"
        android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.model.ConfirmYesNoUI"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.Trans.GetExpiryDateUI"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.Trans.UserConfirmVoid"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.Trans.UserConfirmDetails"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.Trans.EditListView"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustNothing|adjustPan|stateHidden|adjustResize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.Trans.EditAdapter"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustNothing|adjustPan|stateHidden|adjustResize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.Trans.EditListSelected"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustNothing|adjustPan|stateHidden|adjustResize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.model.ConfirmTotal"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.model.MenuSelection"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            >
        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.Trans.TransDetailListView"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.model.ConfirmInput"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>11
        <activity
            android:name="com.Source.S1_BDO.BDO.Trans.SingleDataRecordListView"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>

        <receiver android:name="com.Source.S1_BDO.BDO.EcrCommandReceiver">
            <intent-filter>
                <action android:name="com.Source.EcrProcess" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.Source.S1_BDO.BDO.Trans.UserConfirmTipAdjust"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>

        <activity
            android:name="com.Source.S1_BDO.BDO.Trans.UserConfirmDCC"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>

        <activity
            android:name="com.Source.S1_BDO.BDO.model.QwertyUI"
            android:configChanges="orientation"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".Trans.TipEntryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>

        <activity
            android:name="com.Source.S1_BDO.BDO.Trans.LockScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            >
        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.model.PrintAnimation"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>

        <activity
            android:name="com.Source.S1_BDO.BDO.model.PrintAnimation2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name="com.Source.S1_BDO.BDO.model.PrintAnimation3"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>
